@model IEnumerable<HattrickMVC.Models.Nogomet>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Domaćin
            </th>
            <th>
                Gost
            </th>
            <th>
                Koef 1
            </th>
            <th>
                Koef 2
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var utakmica in Model)
        {
        <tr>
            <td width="35%">@utakmica.EkipaDomacin</td>
            <td width="35%">@utakmica.EkipaGost</td>
            <td width="15%">@utakmica.bet1</td>
            <td width="15%">@utakmica.bet2</td>
        </tr>
        }

    </tbody>
</table>

